# Split the dataset

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

#### Load dataset via Pickle

In [2]:
feature_vec = pd.read_pickle('feature_vec_opt_1m.pickle')

#### Reorder feature_vec to be <qid, label, features>

In [3]:
feature_vec = feature_vec[['Synthetic_match', 'Qid', 'Hist_Suffix_freq', 'ngram_1', 'ngram_2', 'ngram_3', 'ngram_4', 'ngram_5', 'ngram_6',
 'has_ne', 'ne_norm', 'candid_freq', 'prefixlen_char', 'suffixlen_char', 'totallen_char', 'prefixlen_word', 'suffixlen_word', 'totallen_word',
 'bool_space']]

In [4]:
feature_vec.columns = ['label', 'qid', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11',  'f12', 'f13', 'f14', 'f15', 'f16', 'f17']
feature_vec

,label,qid,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,f14,f15,f16,f17
0,1,1,1,321,188,0,0,0,0,1,0.250000,188,6,3,8,2,1,2,0
1,1,2,1,321,188,0,0,0,0,1,0.250000,188,7,3,8,2,1,2,0
2,1,3,1,321,188,0,0,0,0,1,0.250000,188,8,3,8,2,1,2,0
3,1,4,1,1869,89,0,0,0,0,1,0.133333,89,9,7,15,2,1,2,0
4,1,5,1,1869,89,0,0,0,0,1,0.133333,89,10,7,15,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093766,0,107409,193,155690,2,0,0,0,0,1,0.125000,0,23,4,24,3,1,3,0
1093767,0,107409,182,155690,2,0,0,0,0,1,0.107143,0,23,8,28,3,1,3,0
1093768,0,107409,176,155690,2,0,0,0,0,1,0.148148,0,23,7,27,3,2,4,0
1093769,0,107409,168,155690,2,0,0,0,0,1,0.107143,0,23,8,28,3,1,3,0
1093770,0,107409,133,155690,2,0,0,0,0,1,0.125000,0,23,4,24,3,1,3,0

In [5]:
train_df, test_df = train_test_split(feature_vec, test_size=0.2)

feature_vec['qid'] = feature_vec['qid'].astype('int')
feature_vec['label'] = feature_vec['label'].astype('int')

feature_vec = feature_vec.sort_values('qid')

feature_vec.to_pickle('feature_df.pickle')